$track-color: transparent;
$thumb-color: transparent;

$thumb-radius: 1em;
$thumb-height: 2em;
$thumb-width: 2em;
$thumb-border-width: 2px;
$thumb-border-color: white;

$track-width: 100%;
$track-height: 100%;
$track-border-width: 0px;
$track-border-color: transparent;

$track-radius: 0px;
$contrast: 5%;

@mixin track() {
	width: $track-width;
	height: $track-height;
	background: transparent;
	transition: 0.2s;
	cursor: pointer;
}

@mixin thumb() {
	width: $thumb-width;
	height: $thumb-height;
	border: $thumb-border-width solid $thumb-border-color;
	border-radius: $thumb-radius;
	background: var(--thumb-color, #{$thumb-color});
	cursor: pointer;
}

input[type='range'] {
	width: $track-width;

	height: 100%;

	background: transparent;
	-webkit-appearance: none;
	margin: 0;
	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		@include track();

		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
		background: $track-color;
	}

	&::-webkit-slider-thumb {
		@include thumb();
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-appearance: none;
		// margin-top: calc(((-#{$track-border-width}) * 2 + #{$track-height}) / 2) -
		// (#{$thumb-height} / 2);
	}

	&:focus::-webkit-slider-runnable-track {
		background: transparent;
	}

	&::-moz-range-track {
		@include track();

		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
		background: $track-color;
	}
	&::-moz-range-thumb {
		@include thumb();
	}

	&::-ms-track {
		@include track();
		border-width: $thumb-width 0;
		border-color: transparent;
		background: transparent;
		color: transparent;
	}

	&::-ms-fill-lower {
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius * 2;
		background: $track-color;
	}
	&::-ms-fill-upper {
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius * 2;
		background: $track-color;
	}
	&::-ms-thumb {
		@include thumb();
	}
	&:focus::-ms-fill-lower {
		background: $track-color;
	}
	&:focus::-ms-fill-upper {
		background: $track-color;
	}
}
