@import '~tools';
.palette {
	display: block;
	width: 100%;
	padding: 1em;
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	&__item {
		position: relative;
		width: 3em;
		height: 3em;
		padding: 0.25em;
	}
	&__dot {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 0.25em;
		&:hover + .swatches__info {
			opacity: 1;
		}
	}
	&__info {
		position: absolute;
		top: 100%;
		left: 0;
		border: 1px solid red;
		white-space: nowrap;
		opacity: 0;
		padding: 1em;
	}
}
