@import '~tools';
.palette {
	display: block;
	width: 100%;
	padding: 1em;
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	&__item {
		position: relative;
		width: 3em;
		height: 3em;
		padding: 0.25em;
		&:hover {
			.palette__remove {
				opacity: 1;
			}
		}
		&--glow {
			box-shadow: 0 0 0px 2px var(--text);
			border-radius: 0.5em;
		}
	}
	&__dot {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 0.25em;
		&:hover + .swatches__info {
			opacity: 1;
		}
	}
	&__swatch-info {
		position: absolute;
		top: 100%;
		left: 0;
		border: 1px solid red;
		white-space: nowrap;
		opacity: 0;
		padding: 1em;
	}
	&__remove {
		position: absolute;
		top: 0;
		right: 0px;
		width: 1.5em;
		height: 1.5em;
		background-color: var(--body);
		color: var(--text);
		line-height: 1.5em;
		text-align: center;
		opacity: 0;
		&::before {
			content: '✗';
		}
	}
	&__info {
		input {
			display: block;
			width: 100%;
			border: none;
			background-color: transparent;
			color: var(--text);
			font-size: 1.5em;
			padding: 0;
			padding: 0.5em 0;
			&:focus {
				border-bottom: 2px solid var(--text);
				outline: none;
			}
		}
	}
}
